.app {
  background-size: 100% 100%;
  width: 100%;
  height: 100vh;
  padding: rem(89) rem(145);
  background-color: #446684;
}

.overlay {
  background: rgba(80, 80, 80, 0.3);
  backdrop-filter: blur(5px);
  padding: 20px;
  border-radius: 20px;
}
